.bounder {
    width: 100vw;
    /*height: calc(100vh - 46px);*/
    height: 100vh;
    display: grid;
    grid-template-columns: 30px auto 1fr auto 30px;
    grid-template-rows: 90px 1fr 30px auto 30px 25px;
    grid-template-areas:
    "top-navbar top-navbar top-navbar top-navbar top-navbar"
    "left-navbar left-sidebar viewport right-sidebar right-navbar"
    "left-navbar left-sidebar viewport-footer right-sidebar right-navbar"
    "left-navbar left-sidebar bottom-sidebar right-sidebar right-navbar"
    "left-navbar left-sidebar bottom-navbar right-sidebar right-navbar"
    "footer-navbar footer-navbar footer-navbar footer-navbar footer-navbar ";
    /*flex-direction: column;*/
    /*flex: auto;*/
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.bounder .viewport {
    /*flex: auto;*/
    position: relative;
    right: 3px;
    border: groove rgba(170, 170, 170, 0.4);
}

.viewport-footer {
    display: flex;
    height: 30px;
    background: whitesmoke;
    padding: 5px;
    justify-content: space-between;
}

.top-navbar {
    grid-area: top-navbar;
    display: flex;
    justify-content: space-between;
}

.left-navbar {
    grid-area: left-navbar;
}

.left-sidebar {
    grid-area: left-sidebar;
}

.viewport {
    grid-area: viewport;
}

.viewport-footer {
    grid-area: viewport-footer;
}

.right-navbar {
    grid-area: right-navbar;
}

.right-sidebar {
    grid-area: right-sidebar;
}

.bottom-navbar {
    grid-area: bottom-navbar;
}

.bottom-sidebar {
    grid-area: bottom-sidebar;
}

.footer {
    grid-area: footer-navbar;
}

/*.bounder {*/
/*    width: 100%;*/
/*    height: calc(100vh - 46px);*/
/*    display: flex;*/
/*    !*flex-direction: column;*!*/
/*    !*flex: auto;*!*/
/*    box-sizing: border-box;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*}*/

/*.bounder .viewport .react-flow {*/
/*    !*flex: auto;*!*/
/*    !*display: flex;*!*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/