.bounder {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    grid-template-rows: auto 1fr auto auto auto;
    grid-template-areas:
    "top-navbar top-navbar top-navbar top-navbar top-navbar"
    "left-navbar left-sidebar viewport right-sidebar right-navbar"
    "left-navbar left-sidebar bottom-sidebar right-sidebar right-navbar"
    "left-navbar left-sidebar bottom-navbar right-sidebar right-navbar"
    "footer-navbar footer-navbar footer-navbar footer-navbar footer-navbar ";
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.bounder button {
    position: relative;
    overflow: hidden;
    text-align: center;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    height: 35px;
    max-height: 35px;
    justify-content: center;
    background: silver;
    border: solid gray;
    border-radius: 5px;
}

.bounder button text,
.bounder button label {
    pointer-events: none;
    white-space: nowrap;
}

.bounder button:hover {
    background: rgb(100, 149, 237);
}

.bounder button:disabled,
.bounder button:disabled:hover {
    background: lightgrey;
    color: darkgrey;
    border: solid darkgrey;
}

.bounder button:last-child {
    border-bottom: solid gray;
}

.bounder button.select {
    background: darkgray;
    border: solid gray;
}

.bounder .viewport {
    width: 100%;
    height: 100%;
    position: relative;
    right: 3px;
    border: groove rgba(170, 170, 170, 0.4);
}

.viewport-footer {
    display: flex;
    height: 30px;
    background: whitesmoke;
    justify-content: space-between;
    align-items: center;
}

.bounder__navbar.top {
    grid-area: top-navbar;
    display: flex;
    justify-content: space-between;
}

.bounder__navbar.left {
    grid-area: left-navbar;
}

.bounder__navbar.right {
    grid-area: right-navbar;
}

.bounder__navbar.bottom {
    grid-area: bottom-navbar;
}

.bounder__sidebar.left {
    grid-area: left-sidebar;
}

.viewport {
    grid-area: viewport;
}

.bounder__sidebar.right {
    grid-area: right-sidebar;
}


.bounder__sidebar.bottom {
    grid-area: bottom-sidebar;
}

.footer {
    grid-area: footer-navbar;
    height: 25px;
}

.bounder__frame > .header {
    margin-top: 5px;
    padding: 3px;
    border: 2px groove lightgray;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.bounder__frame > .body {
    padding: 3px;
    border: 2px inset lightgray;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}