.bounder {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    grid-template-rows: auto 1fr auto auto auto auto;
    grid-template-areas:
    "top-navbar top-navbar top-navbar top-navbar top-navbar"
    "left-navbar left-sidebar viewport right-sidebar right-navbar"
    "left-navbar left-sidebar viewport-footer right-sidebar right-navbar"
    "left-navbar left-sidebar bottom-sidebar right-sidebar right-navbar"
    "left-navbar left-sidebar bottom-navbar right-sidebar right-navbar"
    "footer-navbar footer-navbar footer-navbar footer-navbar footer-navbar ";
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.bounder .viewport {
    position: relative;
    right: 3px;
    border: groove rgba(170, 170, 170, 0.4);
}

.viewport-footer {
    display: flex;
    height: 30px;
    background: whitesmoke;
    justify-content: space-between;
    align-items: center;
}

.bounder__navbar.top {
    grid-area: top-navbar;
    display: flex;
    justify-content: space-between;
}

.bounder__navbar.left {
    grid-area: left-navbar;
}

.bounder__navbar.right {
    grid-area: right-navbar;
}

.bounder__navbar.bottom {
    grid-area: bottom-navbar;
}

.bounder__sidebar.left {
    grid-area: left-sidebar;
}

.viewport {
    grid-area: viewport;
}

.viewport-footer {
    grid-area: viewport-footer;
}

.bounder__sidebar.right {
    grid-area: right-sidebar;
}


.bounder__sidebar.bottom {
    grid-area: bottom-sidebar;
}

.footer {
    grid-area: footer-navbar;
    height: 25px;
}