.grid-container {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    scrollbar-width: thin;
}

.grid-container .row {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    align-items: start;
}

.grid-container .row .label {
    grid-column: 1;
    white-space: nowrap;
    padding: 2px
}

.grid-container .row .content {
    grid-column: 2;
    overflow-x: auto;
    scrollbar-width: none;
    white-space: nowrap;
    text-wrap: none;
    padding: 0 5px 0;
}