.bounder__navbar {
    margin: unset;
    position: relative;
    background: whitesmoke;
    border: groove rgba(170, 170, 170, 0.4);
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: flex-start;
    align-items: center;

    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
}

.bounder__navbar.left,
.bounder__navbar.right {
    height: initial;
    width: 30px;
}

.bounder__navbar.left {
    border-left: none;
}

.bounder__navbar.right {
    border-right: none;
}

.bounder__navbar.top,
.bounder__navbar.bottom {
    width: initial;
}

.bounder__navbar.bottom {
    height: 30px;
    border-right: none;
    border-left: none;
}

.bounder__navbar.top {
    height: 60px;
    border: none;
}

.bounder__navbar.top,
.bounder__navbar.bottom {
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
}

.bounder__navbar.top button {
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 100%;
    max-width: 85px;
}

.bounder__navbar.top button img {
    width: 30px;
    height: 30px;
}

.bounder__navbar.top button,
.bounder__navbar.bottom button {
    transform: rotate(0deg);
}

.bounder__navbar.left button,
.bounder__navbar.right button,
.bounder__navbar.bottom button {
    background: transparent;
    width: 85px;
    height: fit-content;
    padding: 7px 10px 7px;
    border: none;

    text-align: center;
    font-size: medium;
    font-weight: normal;
}

.bounder__navbar.left button,
.bounder__navbar.right button {
    transform: rotate(90deg);
    transform-origin: 35%;
    translate: 15%;
    margin-top: 13px;
}

.bounder__navbar.top button,
.bounder__navbar.top .react-flow__controls-button:last-child {
    border: solid lightgray;
}

.bounder__navbar button:hover {
    background: rgb(100, 149, 237);
}

.bounder__navbar button.select {
    width: fit-content;

    background: darkgray;
    color: black;
}

.bounder__navbar label {
    pointer-events: none;
}

