.bounder__sidebar {
    margin: unset;
    display: grid;
    position: relative;
    height: 100%;
    border-radius: 0;
    border: groove rgba(170, 170, 170, 0.4);
    z-index: 1;
    background: whitesmoke;
}

.bounder__sidebar.left,
.bounder__sidebar.right {
    position: relative;
    height: initial;
    width: 20em;
    border-right: none;
    border-left: none;

}

.bounder__sidebar.left {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: "body resize-handle";
}

.bounder__sidebar.right {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: "resize-handle body";
}

.bounder__sidebar.bottom {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    grid-template-areas:
            "resize-handle"
            "body";
    width: initial;
    height: 15em;
    border: none;

}

.resize {
    grid-area: resize-handle;
    background: lightgray;
    border: gray;
    pointer-events: auto;
}

.resize.left, .resize.right {
    height: 100%;
    width: 4px;
    max-width: 4px;
}

.resize.bottom {
    width: inherit;
    height: 4px;
    max-height: 4px;
}

.resize:hover {
    background: rgba(70, 70, 70, 0.5);
    cursor: col-resize;
}

.resize.bottom:hover {
    cursor: row-resize;
}

.bounder__sidebar .content-container {
    grid-area: body;
    display: flex;
    position: relative;
    flex-flow: column;
    overflow: auto;
    scrollbar-width: thin;
    padding: 5px
}

.project-structure-list-view {
    display: list-item;
    max-height: 15em;
    overflow: auto;
    scrollbar-width: thin;
    padding: 10px;
    border: 2px inset lightgray;
}