div.tab-container {
    display: flex;
    flex-flow: nowrap;
    width: auto;
    overflow: hidden;
    scrollbar-width: none;
    padding-bottom: 5px;
}

div.tab-container:hover {
    overflow: auto;
    /*scrollbar-width: thin;*/
}

button.tabbed {
    /*width: fit-content;*/
    width: 125px;
    max-width: 125px;
    height: 35px;
    justify-content: center;
    background: silver;
    border: solid gray;
}

.tabbed > label {
    text-align: center;
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}