.tree {
    padding: 5px;
    margin-left: 3px;
    overflow: auto;
    scrollbar-width: thin;
}

.tree-row {
}

.tree-node {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 2px;
    padding-bottom: 2px;
}

.tree-node.selected {
    background: rgba(100, 149, 237, 0.7);
}