.tree {
    padding: 5px;
    margin-left: 3px;
}

.tree-row {
    width: 100%;
}

.tree-node {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 2px;
    padding-bottom: 2px;
    text-wrap: none;
}

.tree-node.selected {
    background: rgba(100, 149, 237, 0.7);
}